<div class="container">
    <div class="row pb-3">
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="cameraButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Select Camera
            </button>
            <div id="cameras" class="dropdown-menu" aria-labelledby="camera-button"></div>
        </div>
    </div>
    <div class="row">
        <div id="camera-container" class="border border-danger"></div>
    </div>
</div>